div.post-series-top {
    a {
        font-weight: bold;
    }
}

.pagination_title{
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.container2ColumnPagination{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card2ColumnPagination{
    margin: 0px;
}

.paginationButtonNext{
    margin-left:10px;
    display: flex;
    justify-content:flex-end;
    background-color: $toc-bg; /* Green */
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 0.5rem;
    
}

.paginationButtonPrev{
    margin-right:10px;
    display: flex;
    justify-content:flex-start;
    background-color: $toc-bg; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 0.5rem;   
}

@media only screen and (max-width:700px){
    .container2ColumnPagination{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 
    .paginationButtonNext{
        margin-top: 10px;
        margin-left: 0px;
    }
    .paginationButtonPrev{
        margin-bottom: 10px;
        margin-right: 0px;
    }
}